body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #3E00FF;
  font-size: 8.625rem;
  margin: 0px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #2D46B9;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  margin-top: 0px;
  text-align: left;
  margin-left: 40px;
  padding-top: 20px;
}

h3,h5 {
  color: #000000;
  position: relative;
}
h6 {
  color: #2A0944;
  font-size: 1rem;
  font-family: 'Montserrat', cursive;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #000000;
  font-family: 'Montserrat';
  font-size: 0.8rem;
  margin: 10px 20px;
  text-align: center;
  text-decoration: none;
}
a:hover {
  color: #2A0944;
}
th {
  padding-left: 25px;
}
#main .container-fluid {
  text-align: left;
}
#title {
  background-color: #5F7A61;
}
}
.top-container {
  background-color: #5F7A61;
  position: relative;
}
.section-heading {
  color: #ffff;
  width: 5px;
  margin-top: 5px;
  font-size: 1.5rem;

}
.navbar-brand {
  font-size: 6rem;
}

.bottom-container {

  padding: 20px 0 0px;
}
.footer-link {
  color: #EAF6F6;
}



.nav-link {
  text-align: left;
  margin: 0 0 0 0;
}
#main .container-fluid {
  padding: 3% 1% 7%;
  margin-left: 20px;
}
.copyright {
  color: #000000;
  margin-top: 30px;
  margin-bottom: 0px;

}
.navbar-brand2 {
  font-size: 1rem;
  color: #ffff;
}
#main {
  padding: 10px;
  background-color: #9D9D9D;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.card-header {
  padding: 2px 2px;

}
.card {

  width: 200px;
  height: 210px;
}
.card-body {
  padding: 0 0;
  height: 190px;
}
.pricing-column {
  margin-left: 10px;
  width: 200px;
  height: 215px;
}
.player {
  padding: 4px 4px 4px 4px;
}


@media (max-width: 1020px) {

  .navbar-brand {
  font-size: 3.625rem;
  }
#main {
    padding: 0px;
    line-height: 0;

  }
  .player {
    width: 990px;
    height: 650px;
    padding: 10px 10px 10px 10px;

  }

  .pricing-column {
    margin-left: 10px;
    width: 1000px;
    height: 650px;
  }
  nav, .scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  nav {
    width: 339px;
    padding-bottom: 0px;
  }
  .scroll-container {
    width: 990px;
    height: 1390px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
  }

}
