
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #3E00FF;
  font-size: 8.625rem;
  margin: 0px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #2D46B9;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  margin-top: 0px;
  text-align: left;
  margin-left: 40px;
  padding-top: 20px;
}

h3,h4,h6 {
  color: #2D46B9;
  font-family: 'Montserrat', sans-serif;
  position: relative;

}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #000000;
  font-family: 'Montserrat';
  font-size: 0.8rem;
  margin: 10px 20px;
  text-align: center;
  text-decoration: none;
}
a:hover {
  color: #66BFBF;
}
th {
  padding-left: 25px;
}
#main .container-fluid {
  text-align: left;
}
#title {
  background-color: #5F7A61;
}
}
.top-container {
  background-color: #5F7A61;
  position: relative;

}
.navbar-brand {
  font-size: 6rem;
}

.bottom-container {
  background-color: #5F7A61;
  padding: 20px 0 10px;
}
.footer-link {
  color: #EAF6F6;
}
.you-tube {
  width: 600px;
  height: 470px;
  transform: rotate(0deg);
  position: relative;
margin-top: : 10px;

}
.nav-link {
  text-align: left;
  margin: 0 0 0 0;
}
#main .container-fluid {
  padding: 3% 1% 7%;
  margin-left: 20px;
}
.copyright {
  color: #000000;
  margin-top: 30px;
  margin-bottom: 0px;

}
.navbar-brand2 {
  font-size: 1rem;
}
#pricing {
  padding: 100px;
  background-color: #FFF47D;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}
@media (max-width: 720px) {

  .navbar-brand {
  font-size: 3.625rem;
  }
#main {
    padding: 0px;
    line-height: 0;

  }
  .you-tube {
    width: 300px;
    height: 270px;
    transform: rotate(0deg);
    position: relative;
  }
}
/* Title Image */
