
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;

}
em {
  color: #C2F784
}

/* Headings */

.big-heading {
  font-family: 'Sacramento', cursive;
  text-align:center;
  font-size: 4.5rem;
  line-height: 1;
}
.small-heading {
  font-size: 2.5rem;
  line-height: 1;
  padding-top: 40px;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  color: #FFff;
}

/* Containers */

.container-fluid{
  padding: 7% 7%;
}

/* Sections */

.colored-section {
  background-color: #C2F784;
  color: #AE00FB;
}

.white-section {
  background-color: #fff;

}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: #80ED99;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  color: #C2F784;
}
.nav-link2 {
padding-right: 40px;
  font-size: 1.2rem;
  color: #FF0000;

}

/* Buttons */

.download-button {
  margin: 4% 3% 5% 0;
    background-color: #FF0000;
margin-bottom: 10px;
}

/* Title Section */

#title {
  background-color: #AE00FB;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
width: 600px;
height: 440px;
  transform: rotate(0deg);
  position: relative;

}
.title-image2 {
  height: 220px;
  width: 570px;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 0%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}


/* Testimonial Section */

#testimonials {
  background-color: #57CC99;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  color: #ffff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #FFF47D;
  padding-bottom: 3%;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}
/* examples */

#examples {
  background-color: #3DB2FF;
}

.price-text {
  font-size: 3rem;
  color: #000000;
  line-height: 1.5;
}

}
.pricing-column {
  color: #000000;
  padding: 3% 2%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.you-tube {
  position: relative;
  align-self: left;
  left: 240px;
}
/* Pricing Section */

#pricing {
  padding: 100px;
  background-color: #FFF47D;
}
/*
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
} */

/* CTA Section */
#cta {
  padding: 0px;
  height: 280px;
}
#cta .container-fluid {
  padding: 0px;
}
/* Footer Section */
#footer .container-fluid {
padding: 0px;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1020px) {

  #title {
    text-align: center;
  }
  .feature-title {
    font-size: 1rem;
  }

  .feature-box {
    padding: 0.25%;
    width: 30%;
  }

  .icon {
    color: #ef8172;
  }

  .icon:hover {
    color: #ff4c68;
  }
  p {
    color: #5F7A61;
    font-size: 0.75rem;
  }
  .title-image {
    position: relative;
    transform: rotate(0);
  }
.you-tube {
  position: relative;
  height: 230px;
  width: 300px;
left: 170px;

}

.testimonial-text{
  font-size: 1.2rem;
  line-height: 2rem;
}
.title-image2 {
  position: absolute;
  transform: rotate(0);

  width: 0%;
}
.big-heading {
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
  line-height: 1.5;
}
.small-heading {
  font-size: 1.5rem;
  line-height: 1;
  padding-top: 9px;
}
.section-heading {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #ffff;
}
#cta {
  padding: 0px;
  height: 180px;
}
.nav-link2 {
padding-right: 10px;
}
}
